<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-4">
    <%= render "shared/user_info" %>
    <%= render "marks/history_reading" %>
  </div>

  <div class="col-md-8">
    <h1><%= t ".my_favorite_book" %></h1>
    <%= render "list_favorite_books" %>
  </div>
</div>
