<%= form_for @review, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", value: @review.content,
      required: true %>
    <%= f.hidden_field :book_id, value: @review.book.id, class: "form-control" %>
  </div>
  <%= f.submit t("views.edit_review_form.save"), class: "btn btn-primary" %>
<% end %>
