<div class="modal fade" id="modal_<%= review.id %>" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <%= t "views.list_user_like.all_likes" %>
        </h4>
      </div>
      <div class="modal-body">
        <% review.list_users_like_review.each do |user| %>
          <p>
            <%= gravatar_for user, size = Settings.like.size_avatar %>
            <%= link_to user.name, user_path(user) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
