@import 'bootstrap-sprockets';
@import 'bootstrap';

$border-color: #eaeaea;

 @mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 body {
   margin-top: 60px;
   background-color: #e9ebee;
   width: 100%;
   height: 100%;
 }

 h1 {
   color : #90949c;
 }

 .main-content {
   background-color: white;
 }

 /*header*/

 #logo {
   float: left;
   font-size: 20px;
   color: white;
   font-weight: bold;
  margin-top: 10px;
 }

 #logo-icon {
   width: 30px;
   height: 30px;
 }

 .navbar-default {
   background-color: #00897b;
 }

 .navbar-default a {
   text-decoration: none;
   cursor: pointer;
 }

 #menu-top a {
   color: white;
 }

 #menu-top li:hover {
   background-color: #004D40;
 }

 .dropdown-menu {
   background-color: #00897b;
   a:hover {
     background-color: #004D40 !important;
   }
 }

 .dropdown a:focus {
   background-color: #004D40 !important;
 }

 footer {
   color: #E0E0E0;
   border-top: 1px solid $border-color;
   margin-top: 20px;
   background-color: #757575;
   padding: 20px;
   position: relative;
   bottom: 0px;
 }
 
 /*home*/

 .padding-zero {
 padding: 0px;
 }

 .padding-twenty {
   padding: 20px;
 }

 /*slide*/

 .carousel-inner > .item > img,
   .carousel-inner > .item > a > img {
      height:300px;
      width: 70%;
      margin: auto;
  }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

h1 {
  text-align: left;
  color: black;
}

/* Category */

.table {
  margin-top: 10px;
}
.add-category {
  margin: 10px;
}

tr.display-category{
  background: #394BA0;
  border: 2px solid #a1a1a1; 
  color:white;
  
  th.index {
    text-align: center;
    width: 110px;
  }
  th.total-book {
    text-align: center;
    width: 300px;
  }
  th.action {
    text-align: center;
    width: 200px;
  }
}
tr.category {
  td.index {
    text-align: center;
    width: 110px;
  }
  td.total-book {
    text-align: center;
    width: 300px;
  }
  td.action {
    text-align: center;
    width: 200px;
  }
}
