<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><%= t "footer.developer" %></p>
      </div>
      <div class="col-md-6">
        <p><%= t "footer.phone" %></p>
        <p><%= t "footer.address" %></p>
      </div>
    </div>
  </div>
</footer>
